:root {
  --notification-max-height: 350px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.btn--sort:hover {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  overscroll-behavior: none;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interest */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}

/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.popup_notification {
  position: fixed;
  z-index: 999;
  top: 10rem;
  right: 3rem;
  font-size: 1.6rem;
  width: 35rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.popup__message__wrapper {
  animation: notification 1.2s ease-out forwards;
  pointer-events: none;
}

.popup__message__wrapper--close {
  animation: notification-hide 0.2s ease-out both;
  animation: notify-msg-hide 0.3s forwards;
}

.popup__message {
  border-radius: 1.2rem;
  padding: 1.2rem;
  background-color: #fffefe;
  box-shadow: 0 6px 16px rgba(42, 49, 55, .25);

  pointer-events: auto;
  animation: notify-msg-show .6s ease-out .2s both;
}

.popup__message__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__icon__close {
  align-self: start;
  opacity: .5;
  cursor: pointer;
  transition: opacity .1s;

  display: inline-block;
  background: 0 0 no-repeat;
  border: 0;
  outline: none;
  text-decoration: none;
}

.popup__icon__close:hover {
  opacity: 1;
}

.popup__message--error {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-left: 0.5rem solid #e52a5a;
  color: #e52a5a;
}

.popup__message--info {
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  border-left: 0.5rem solid #39b385;
  color: #39b385;
}

@keyframes notification {
  0% {
    max-height: 0;
  }

  100% {
    max-height: var(--notification-max-height);
  }
}

@keyframes notify-msg-show {
  0% {
    transform: translateX(150%);
  }

  25% {
    transform: translateX(-50px);
  }

  50% {
    transform: translateX(20px);
  }

  90% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes notification-hide {
  0% {
    max-height: var(--notification-max-height);
  }

  100% {
    max-height: 0;
  }
}

@keyframes notify-msg-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 1rem;
  background-color: #123a2b;
}

#topBar.hidden {
  display: none;
}

.topBar__loader {
  height: 100%;
  width: 100%;
  background-color: #39b385;
  transform-origin: 0 50%;
  animation: infiniteLoader .8s linear infinite;
}

@keyframes infiniteLoader {
  0% {
    transform: translateX(0) scaleX(0)
  }

  40% {
    transform: translateX(0) scaleX(0.4);
  }

  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}